@import url('../../index.css');

/* CARD PRODUCT */
.card-product {
	display: flex;
	width: 220px;
	height: 280px;
	flex-direction: column;
	background-color: var(--lightMainColor);
	border-radius: 12px;
	padding: 10px 16px;
	margin-bottom: 26px;
	
}

.card-product-img {
	width: auto;
	height: 140px;
	border-radius: 10px;
	margin-bottom: 8px;
	object-fit: cover;
}

.card-product-info {
	width: auto;
	height: 200px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.product-price {
	font-size: 22px;
	font-weight: 700;
	justify-content: space-between;
	margin: 4px 6px;
	color: #272727;
}

.product-name,
.type-product-name {
	display: flex;
	justify-content: center;
	color: var(--darkTitles);
}

.product-name {
	color: #272727;
	font-size: 18px;
	font-weight: bold;
}

.type-product-name {
	font-size: 14px;
	font-weight: bold;
	color: var(--grayFonts);
}

.btn-product-plus {
	width: 38px;
	height: 38px;
	font-size: 28px;
	background-color: var(--mainColor);
	border: none;
	border-radius: 50%;
	justify-content: center;
	cursor: pointer;
}

.btn-product-plus:hover {
	box-shadow: 0px 0px 6px 0 #55caf8;
	cursor: pointer;
}

.card-product:hover {
	cursor: pointer;
	box-shadow: 2px 2px 5px 0 var(--shadowColor);
}